body {
    margin: 0;
    font-family: "Basis Grotesque Pro", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: #fbfcfe;
    color:#101836
}

.downMarg {
    margin-bottom: 20px;
}

.mainBox {
    width: 100%;
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
    margin-right: auto;
    margin-left: auto;
    margin-top: 170px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 150px;
}
.mainBox .mMenu {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    font-weight: 400;
    list-style: none;
    color: #ced7e4;
}
.mainBox .mMenu p {
    margin: 0;
    content: "/";
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: #ced7e4;
    box-sizing: border-box;
}
.mainBox .mMenu li {
    color: #101836;
}
.notSelected {
    color: #101836;
    text-decoration: none;
}
.notSelected:hover {
    color: #04b6ff;
    transition: 0.5s;
    text-decoration: none;
}

.h1 {
    font-size: 4.4rem;
    margin-top: 7px;
    margin-bottom: 20px;
}
h2{
    margin: 0;
font-size: 3.2rem;
font-weight:lighter;
}

/* select City */

.activeS {
    background-color: transparent;
    border: 0;
    color: #04b6ff;
    font-size: 30px;
    font-weight: bold;
}

#cityes {
    display: inline-block;
    background-color: transparent;
    color: #04b6ff;
    border: 0;
    font-size: 1.2em;
    font-weight: bold;
}
#cityes option {
    color: black;
    border: 0;
    font-weight: 300;
    font-size: 0.4em;
}
#cityes option:hover{
    background: transparent;
    color: #000000;
    transition: 0.5s;
}
#cityes:active{
    color:aquamarine;
    background-color: #101836;
}

/* section dropCity */

.dropCity {
    margin-bottom: 100px;
    height: 800px;
    width: auto;
}

/* item city purchase */

.p-name-item {
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 25px;
}
.p-list {
    display: flex;
    margin: 0 -10px;

    padding: 0;
}
.p-content {
    padding: 20px 0px;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.p-li-item {
    display: list-item;
    list-style-type: none;
    width: 343px;
    padding: 0 10px;
    margin-bottom: 20px;
}
small{
    font-size: 20px;
}
.p-price-item {
    padding-top: 10px;
    position: relative;
    font-size: 5rem;
}

.l-section{
    margin-top: 300px;
}

.p-background {
    position: relative;
    height: 100%;
    padding: 30px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 8px 25px rgb(68 91 101 / 8%);
}
.p-head-item {
    padding-bottom: 25px;
    border-bottom: 1px solid #ccced6;
    margin-bottom: 10px;
    shape-outside: circle(50%);
    display: block;
}
.p-btn-buy {
    padding: 24px 20px;
    width: 100%;
    background-color: #04b6ff;
    border-color: #04b6ff;
    border-radius: 35px;
    color: white;
    font-family: inherit;
    font-weight: bolder;
}
.p-btn-buy:hover {
    background-color: #5fd2ff;
    border-color: #5fd2ff;
    transition: 0.7s;
}
.p-foot-item {
    display: block;
    margin-top: auto;
    text-align: center;
}
.p-add-desc {
    min-height: 120px;
    font-weight: 400;
    font-size: 16px;
}
.p-add-desc p{
    color:#04b6ff;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 35px;
}
.p-tarrif__badge {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    display: inline-block;
    width: 62px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background-color: #ff7113;
}
.p-tarrif__price-old {
    font-size: 20px;
    position:absolute;
    display: inline-flex;
    align-items: baseline;
    flex-wrap: wrap;
    left: 0;
    top: 0;
    color: #9da1ae;
}
.icon {
    width: 20px;
    height: 20px;

    background-size: contain;
    display: inline-block;
    margin-right: 10px;
}
.icon.internet {
    background-image: url("ImagesForInternet/internet.svg");
}
.icon.traffic {
    height: 10px;
    background-image: url("ImagesForInternet/traffic.svg");
}
.icon.upload {
    background-image: url("ImagesForInternet/upload.svg");
}
.p-internet {
    margin-top: 8px;
    margin-bottom: 12px;
    line-height: 20px;
    display: flex;
font-weight: 400;

    align-items: center;
}

.p-internet b {
    display: flex;
    line-height: 20px;
    font-size: 16px;
    font-weight: bolder;
    box-sizing: border-box;
    text-align: center;
}

/* ///////////////// Select Content */
#Section2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    height: 40px;
}

.buttonSection2 {
    background-color: transparent;
    border: 0px;
    font-size: 17px;
    color: gray;
}

.Section2Active {
    color: rgb(53, 53, 53);
    border-bottom: 3px solid deepskyblue;
}

.buttonSection2Active:hover {
    transition: 0.3s;
    color: deepskyblue;
}

.buttonSection2:hover {
    transition: 0.3s;
    color: deepskyblue;
}

/* Add class //////////////////// */
.visible { 
    visibility: visible;
}
.offvisible { 
    visibility: hidden;
}
.posRel {
    position: relative;
}
.posAbs {
    z-index: 1;
    position: absolute;
}



.s-content ul li:before {
    content: "";
    position: absolute;
    top: 9px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #04b6ff;
    margin-right: 10px;
    left: 0;
    top: 11;
}
.s-content ol li, .s-content ul li {
    position: relative;
    padding-left: 20px;
}
.s-content ol li:before {
    content: counter(listNumeric) ". ";
    counter-increment: listNumeric;
    color: #04b6ff;
    font-weight: 400;
    position: absolute;
    top: 3px;
    font-size: 1.2rem;
    left: 0;
}
.s-content ol {
    padding-left: 10px;
    counter-reset: listNumeric;
}


#buttonFaq {
    border: deepskyblue 3px solid;
    border-radius: 40px;
    width: 100%;
    background-color: white;
    height: 70px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: BasisGrotesquePro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#buttonFaq:hover {
    background-color: deepskyblue;
    color: white;
}

