body {
    margin: 0;
    font-family: BasisGrotesquePro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1.4rem;
    font-weight: 400;
}

.downMarg {
    margin-bottom: 20px;
}

.mainBox {
    width: 100%;
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
}
.mainBox .mMenu {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    list-style: none;
    color: #ced7e4;
}
.mainBox .mMenu p {
    margin: 0;
    content: "/";
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: #ced7e4;
    box-sizing: border-box;
}
.mainBox .mMenu li {
    color: #101836;
}
.notSelected {
    text-decoration: none;
}
.notSelected:hover {
    color: #04b6ff;
    transition: 0.5s;
    text-decoration: none;
}

.h1{
    font-size: 47px;
}

/* select City */

.activeS{
    background-color: transparent;
    border: 0;
    color: #04b6ff;
    font-size: 30px;
    font-weight: bold;
}

.select{
    display: inline-block;
}

/* section dropCity */


.dropCity{
    margin-bottom: 100px;
}



/* item city purchase */

.p-name-item {
    margin-bottom: 40px;
    margin-top: 5px;
}
.p-list {
    display: flex;
    margin: 0 -10px;
    width: 100%;
    padding: 0;
}
.p-content {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.p-li-item {
    display: list-item;
    list-style-type: none;
    width: 33.3333334%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.p-price-item{
    font-size: 5rem;
}
.p-background {
    position: relative;
    height: 100%;
    padding: 30px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 3rem;
    background-color: #fff;
    box-shadow: 0 8px 25px rgb(68 91 101 / 8%);
}
.p-head-item {
    padding-bottom: 25px;
    border-bottom: 1px solid #ccced6;
    margin-bottom: 10px;
    shape-outside: circle(50%);
    display: block;
}
.p-btn-buy {
    padding: 24px 20px;
    width: 100%;
    background-color: #04b6ff;
    border-color: #04b6ff;
    border-radius: 35px;
    color: white;
    font-family: inherit;
    font-weight: bolder;
    
}
.p-btn-buy:hover{
    background-color: #5fd2ff;
    border-color: #5fd2ff;
    transition: 0.7s;
}
.p-foot-item{
    display: block;
    margin-top: auto;
    text-align: center;
}
.p-add-desc{
    margin-bottom: 30px;
}
.icon {
    width: 20px;
    height: 20px;
    
    background-size:contain;
    display: inline-block;
    margin-right: 10px;
}
.icon.internet{
    background-image: url("ImagesForInternet/internet.svg");
}
.icon.traffic{
    height: 10px;
    background-image: url("ImagesForInternet/traffic.svg");
}
.icon.upload{
    background-image: url("ImagesForInternet/upload.svg");
}
.p-internet {
    margin-top: 8px;
    margin-bottom: 12px;
    line-height: 20px;
    display: flex;
    width: 100%;
    align-items: center;
}

.p-internet b {
    display: flex;
    line-height: 20px;
    font-weight: bolder;
    font-size: 1.4rem;
    box-sizing: border-box;   
    text-align: center;
}

/* ///////////////// Select Content */
#Section2{
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.buttonSection2 {
    background-color: transparent;
    border: 0px;
    font-size: 17px;
    color: gray;
}

.Section2Active {
    color: rgb(53, 53, 53);
    border-bottom: 3px solid deepskyblue;
}

.buttonSection2Active:hover {
    transition: 0.3s;
    color: deepskyblue;
}

.buttonSection2:hover {
    transition: 0.3s;
    color: deepskyblue;
}
