body {
    margin: 0;
    font-family: BasisGrotesquePro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Section 1 */
#Section1 {
    width: 1350px;
    height: 200px;
}

.mainDiv {
    padding-left: max(40px, env(safe-area-inset-left));
    padding-right: max(40px, env(safe-area-inset-right));
    margin-right: auto;
    margin-left: auto;

}

.notSelected {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.downMarg {
    margin-bottom: 20px;
}

.mainDiv .mMenu {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    list-style: none;
    color: #ced7e4;
}

.mainDiv .mMenu p {
    margin: 0;
    content: "/";
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: #ced7e4;
    box-sizing: border-box;
}

.h1UpStyle {
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* //////////////////////////////////////////////////// */

/* Section 2 */
#Section2 {
    padding-top: 40px;
    width: 1350px;
    height: 120px;
}

.buttonSection2 {
    background-color: transparent;
    border: 0px;
    font-size: 17px;
    color: gray;
}

.Section2Active {
    color: rgb(53, 53, 53);
    border-bottom: 3px solid deepskyblue;
}

.buttonSection2Active:hover {
    transition: 0.7s;
    color: deepskyblue;
}

.buttonSection2:hover {
    transition: 0.7s;
    color: deepskyblue;
}

/* //////////////////////////////////////////////////// */

/* Section 2 */
#Section3 {
    width: 1350px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}

#Section3 .card {
    width: 100%;
    margin: 5px;

}

.divSection3 {
    height: 300px;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
}

.divSection3:hover {
    color: deepskyblue;
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.divSec3F {
    grid-column-start: 1;
    width: 400px;
    padding-left: 40px;
}

.divSec3S {
    grid-column-start: 2;
}

.SectionImage {
    background-size: contain;
    background-repeat: no-repeat;
    width: 221px;
    height: 297px;
    display: block;
    background-position: center;
}

.Section3Image1 {
    background-image: url("../ImagesForCatalog/image.png");
}

.Section3Image2 {
    background-image: url("../ImagesForCatalog/image1.png");
}

.Section3Image3 {
    background-image: url("../ImagesForCatalog/image2.png");
}

.Section3Image4 {
    background-image: url("../ImagesForCatalog/image3.png");
}
.Section3Image5 {
    background-image: url("../ImagesForCatalog/image4.png");
}
.moreButton {
    border: 1px solid deepskyblue;
    border-radius: 30px;
    position: relative;
    width: 170px;
    height: 60px;
    cursor: pointer;
}

.moreButton p {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    position: relative;
    top: calc(50% - 15px);
    text-align: center;
}

.moreButton:hover {
    background-color: deepskyblue;
    color: white;
}

.nameP {
    font-weight: bold;
    font-size: 17px;
}

.priceP {
    font-size: 50px;
    font-weight: bold;
    color: deepskyblue;
}





#Section4{
    width: 1350px;
    height: auto;
}

details summary {
    color: #3f3e3e;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: BasisGrotesquePro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

details div {
    color: #646464;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: BasisGrotesquePro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

details summary:hover {
    color: deepskyblue;
    cursor: pointer;
    font-size: 1.5rem;

}

summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "\002B";
}

details div a {
    color: deepskyblue;
    text-decoration: none;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after {
    content: "\00D7";
}

details[open] div {
    padding: .5em 1em;
}

.otstyp {
    padding: 1em 0px;
}

.buttonFAQ {
    border: deepskyblue 3px solid;
    border-radius: 40px;
    width: 1350px;
    background-color: white;
    height: 70px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: BasisGrotesquePro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.buttonFAQ:hover {
    background-color: deepskyblue;
    color: white;
}