body {
    margin: 0;
    font-family: BasisGrotesquePro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Section 1 */
#Section1 {
    width: 1350px;
    height: 200px;
}

.mainDiv {
    padding-left: max(40px, env(safe-area-inset-left));
    padding-right: max(40px, env(safe-area-inset-right));
    margin-right: auto;
    margin-left: auto;
}

.notSelected {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.downMarg {
    margin-bottom: 20px;
}

.mainDiv .mMenu {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    list-style: none;
    color: #ced7e4;
}

.mainDiv .mMenu p {
    margin: 0;
    content: "/";
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: #ced7e4;
    box-sizing: border-box;
}

.h1UpStyle {
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* //////////////////////////////////////////////////// */

/* Section 2 */
#Section2 {
    padding-top: 40px;
    width: 1350px;
    height: 120px;
}

.buttonSection2 {
    background-color: transparent;
    border: 0px;
    font-size: 17px;
    color: gray;
}

.Section2Active {
    color: rgb(53, 53, 53);
    border-bottom: 3px solid deepskyblue;
}

.buttonSection2Active:hover {
    transition: 0.7s;
    color: deepskyblue;
}

.buttonSection2:hover {
    transition: 0.7s;
    color: deepskyblue;
}

/* //////////////////////////////////////////////////// */

/* Section 2 */
#Section3 {
    width: 1350px;
    height: 200px;
}

.divSection3 {
    height: 300px;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
}

.divSec3F {
    grid-column-start: 1;
    width: 400px;
}

.divSec3S {
    grid-column-start: 2;
    border: 1px solid black;
}

.Section3Image1 {
    background-size: contain;
    width: 221px;
    height: 297px;
    background-image: url("ImagesForCatalog\image.png");
    display: block;
    background-position: center;

}